@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #242E4A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar { 
  /* align-items: center; */
  margin-top: 5px;
}
.nav-item { 
  /* background-color: #131827; */
  /* width: 20%; */
  height: 50px;
  line-height: 50px;
  /* width: 150px; */
  /* border-radius: 20px; */
  color: white;
}
.nav-item:hover { 
  transition: 0.5s;
  /* background-color: rgb(182, 117, 243); */
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.pic { 
  border: 5px solid #60C2B3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin-left: -30%;
}
